# dependencies
node_modules
dist
dist-ssr

# rust / tauri
src-tauri/target

# editor / os
.DS_Store
*.local
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*

# local backups / build output
env-backup-*.txt
EnvBox.exe
